body {
    text-align: center;
}

#boy, #cat-girl, #pink-girl, #princess-girl, #horn-girl {
    cursor: pointer; 
}

#heart1, #heart2, #heart3 {
    color: #e80909;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#hearts {
    margin-right: 50px; 
}

#points {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    margin-left: 50px;
}

.modal-title {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
}

canvas {
    margin-top: -20px;
}

#modalStart, #modalEnd {
    margin-top: 100px;
}

#canvas1 {
    position: absolute; 
    left: 0%; 
    right: 0%;
    top: 8%;
    margin-left:auto;
    margin-right:auto;
    z-index: 0;
}

#canvas2 {
    position: absolute; 
    left: 0%; 
    right: 0%;
    top: 8%;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
}

#playerNameButton {
    color: white; 
    background-color: #d9534f;
    border-color: #d9534f;
    margin-top: 10px;
    width: 80px;
    margin: auto;
}

#playerNameText {
    margin-top: 1em;
    font-size: 16px;;
}

#playerName {
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

table {
    text-align: center;
    margin: auto;
}

td, th { 
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#newGame {
    width: 100px;
} 

#playerNameText, #gameOverText {
    font-weight: 700 !important;
    font-size: 16px;
}